<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shivamdhammi.drag">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Helping Hands"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Register"/>
        <activity android:name=".SSOReg" />
        <activity android:name=".SProfile" />
        <activity android:name=".Main" />
        <activity android:name=".Splash" />
        <activity android:name=".Home" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".DonorReg" />
        <activity android:name=".DMain"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>